/* Fonts */
    @font-face {
        font-family: 'SFPD';
        src: url('../fonts/SF-Pro-Display-Regular.otf');
    }
    @font-face {
        font-family: 'SFPD Bold';
        src: url('../fonts/SF-Pro-Display-Bold.otf');
    }
    @font-face {
        font-family: 'SF Mono';
        src: url('../fonts/SFMono.otf');
        font-weight: normal;
    }
    @font-face {
        font-family: 'SF Mono';
        src: url('../fonts/SFMono-Bold.otf');
        font-weight: bold;
    }

/* Variables */
    :root {
        --transition: 0.2s ease-in-out;
        --blur: blur(10px) saturate(1.8);
    }

/* Common */
    *{
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    input {
        text-align: center;
        border: 2px solid rgba(0,0,0, 0);
        border-radius: 3px;
        background: rgba(0,0,0, 0.05);
        outline: none;
        transition: var(--transition);
    }
    input:focus {
        border-bottom: 2px solid rgba(0,0,0, 0.5);
    }
    input::placeholder {
        opacity: 0.5;
        font-style: italic;
    }
    button {
        display: inline-block;
        padding: 2px 6px;
    }

/* Nav */
    nav {
        position: fixed;
        width: 100vw;
        height: 100px;
        text-align: center;
    }
    #logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #logo img {
        width: 150px;
    }

/* Footer */
    .bg {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        display: inline-block;
        background:
            url('../img/ppar.jpg')
            center/cover no-repeat;
        opacity: 0.2;
        transition: var(--transition);
    }
    .bg.show {
        opacity: 1;
    }
    footer {
        cursor: default;
        position: fixed;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%, 0);
        font-family: 'SF Mono';
    }
    footer a {
        text-decoration: underline;
        color: #000;
    }
    footer,
    footer a,
    footer span {
        font-size: 10px;
    }

/* Request Form */
    main {
        position: fixed;
        top: 100px;
        width: 100vw;
        height: calc(100vh - 100px);
        text-align: center;
        overflow: scroll;
    }
    article {
        display: inline-block;
        vertical-align: top;
        margin: 0 10px 10px 10px;
        max-width: 90%;
        overflow: scroll;
    }
    article.left {
        height: calc(100vh - 160px);
        background: rgba(255,255,255, 0.9);
    }
    article.left,
    article.right textarea {
        padding: 10px;
        border: 0.5px solid rgba(0,0,0, 0.3);
        outline: none;
    }
    article.right textarea {
        width: 400px;
        height: calc(100vh - 200px);
        background: rgba(255,255,255, 0.9);
    }
    article.right a {
        display: table;
        margin: 0 auto;
    }
    article.right button {
        margin: 10px 0;
    }

    table th {
        text-align: left ;
        font-family: 'SFPD Bold';
    }
    table td {
        text-align: left;
        font-family: 'SFPD';
    }
    table td:first-child {
        text-align: right !important;
    }
    table td > * {
        vertical-align: middle;
    }
    table tr.break {
        display: inline-block;
        margin: 10px 0;
    }

    #img_pkmn,
    #img_gts_pkmn,
    #img_ball,
    #img_gts_ball,
    #img_pkrs {
        display: inline-block;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: pixelated;
    }
    #img_pkmn,
    #img_gts_pkmn {
        width: 40px;
        height: 40px;
        margin: -10px -5px;
        background:
            url('https://nuotsu.github.io/PPAR/img/ppa/Egg_PPA.png')
            center/cover no-repeat;
    }
    #img_ball,
    #img_gts_ball {
        width: 24px;
        height: 24px;
        margin: -10px -5px;
        background:
            url('https://nuotsu.github.io/PPAR/img/ball/Poke_ball.png')
            center/cover no-repeat;
    }
    #img_pkrs {
        height: 8px;
    }

    .spreads td,
    .ivev td {
        width: 50px;
        border-radius: 4px 4px 0 0;
        text-align: center !important;
        font-family: 'SFPD Bold';
        color: #fff;
    }
    .spreads input {
        width: calc(100% - 5px);
    }
    .hyperTraining input {
        pointer-events: none;
        display: table;
        margin: 4px auto;
    }
    .hyperTraining td {
        width: 50px;
        border-radius: 3px;
        background: rgba(0,0,0, 0.05);
    }
    #ht_100 {
        display: none;
        font-size: 10px;
        opacity: 0.2;
    }

    .moves > * {
        display: block;
        margin: 4px 0;
    }

/* jQuery UI */
    .ui-autocomplete {
        max-height: 400px;
        overflow-y: scroll;
    }

@supports
    (-webkit-backdrop-filter: var(--blur)) or
    (-moz-backdrop-filter: var(--blur)) or
    (backdrop-filter: var(--blur)) {
    article.left,
    article.right textarea {
        -webkit-backdrop-filter: var(--blur);
        -moz-backdrop-filter: var(--blur);
        backdrop-filter: var(--blur);
        background: rgba(255,255,255, 0.6);
    }
}
