/* Fonts */
    @font-face {
        font-family: 'SF Mono';
        src: url('../fonts/SFMono-Regular.otf');
	}

/* Variables */
    :root {
        --ppar-blur: blur(10px);
        --green: #84a66f;
    }

/* Common */
	* {
		margin: 0;
		padding: 0;
		font-family: 'SF Mono';
		font-size: 12px;
	}
	body {
		transition: 0.3s ease-in-out;
        text-align: center;
    }
	a {
        text-decoration: underline;
        color: #000;
    }
	input {
        margin: 2px;
		text-align: center;
	}
    footer {
        position: fixed;
        left: 0;    right: 0;
        bottom: 10px;
        font-size: 10px;
        color: rgba(0,0,0, 0.5);
    }
    footer a { color: rgba(0,0,0, 0.5); }

/* Elements */
    .link {
        position: relative;
        margin: 30px 0;
    }
    .link a {
        text-decoration: none;
        color: #000;
        font-size: 20px;
    }
    .link a:hover { text-decoration: underline;}
    .sub-link { margin: 10px; }
    .sub-link a {
        margin: 10px;
        font-size: 16px;
    }
    .ppar {
        position: fixed;
        right: 0;    top: 0;
        padding: 5px;
    }
    .bg {
        position: fixed;
        left: 0;    right: 0;
        top: 0;    bottom: 0;
        background-image: url('../images/ppar.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.3s ease-in-out;
    }

/* Special */
    .special {
        border: 0.5px dashed var(--green);
        padding: 1.5px;
    }
    div.special { padding: 5px; }
    sup { color: var(--green); }

    label[for="pkmn"] img,
    label[for="gts_pkmn"] img {
        width: 28px;
        vertical-align: middle;
    }
    label[for="ball"] img,
    label[for="gts_ball"] img,
    label[for="edit_ball"] img {
        width: 18px;
        vertical-align: middle;
    }

/* jQuery UI */
    .ui-autocomplete {
        max-height: 370px;
        overflow-y: scroll;
    }

/* Form */
    .form,
    .result {
        display: inline-block;
        vertical-align: middle;
        margin: 0 30px;
        padding: 10px;
        overflow: scroll;
    }
    .result { width: 420px; }
    .form {
        width: 500px;    height: 500px;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
        text-align: left;
        transform: translateY(-9px);
    }
    .form.pk_edit > *:not(p) {
        display: inline-block;
        margin: 4px 0;
    }

/* Result */
	textarea {
		display: block;
        position: relative;
        border: none;
        border-radius: 5px;
        background: #eee;
        box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
		padding: 10px;
		width: 400px;	height: 500px;
	}
	#copy {
		position: relative;
		right: 0;    bottom: 25px;
		transform: translateX(185px);
		padding: 2px;
	}

    @supports
        (-webkit-backdrop-filter: var(--ppar-blur)) or
        (-moz-backdrop-filter: var(--ppar-blur)) or
        (backdrop-filter: var(--ppar-blur)) {
        .form {
            -webkit-backdrop-filter: var(--ppar-blur);
            -moz-backdrop-filter: var(--ppar-blur);
            backdrop-filter: var(--ppar-blur);
            background: rgba(0, 0, 0, 0);
        }
    }
