// fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
$font: 'PT Sans', sans-serif;
$monospace: monospace;

// variables
$box-shadow: 0 2px 10px rgba(#000, .1);
$background-color: #f1f1f1;

$color-H: #4cb050; .color-H { background-color: $color-H; } .bg-color-H { background-color: lighten($color-H, 45%); color: $color-H; }
$color-A: #ff9800; .color-A { background-color: $color-A; } .bg-color-A { background-color: lighten($color-A, 45%); color: $color-A; }
$color-B: #f54337; .color-B { background-color: $color-B; } .bg-color-B { background-color: lighten($color-B, 37%); color: $color-B; }
$color-C: #03a9f5; .color-C { background-color: $color-C; } .bg-color-C { background-color: lighten($color-C, 45%); color: $color-C; }
$color-D: #3f51b5; .color-D { background-color: $color-D; } .bg-color-D { background-color: lighten($color-D, 45%); color: $color-D; }
$color-S: #9c28b1; .color-S { background-color: $color-S; } .bg-color-S { background-color: lighten($color-S, 52%); color: $color-S; }

// mixins
$pc:	 'screen and (min-width: 769px)';
$mobile: 'screen and (max-width: 768px)';
$smp:	 'screen and (max-width: 414px)';
@mixin responsive($media) {
	@if $media == 'pc' {
		@media #{ $pc } { @content; }
	} @else if $media == 'mobile' {
		@media #{ $mobile } { @content; }
	} @else if $media == 'smp' {
		@media #{ $smp } { @content; }
	} @else {
		@media screen and (max-width: #{ $media }) { @content; }
	}
}

@mixin pixelize() {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
}

// common
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font;
}
a[href] {
	color: currentColor;
	transition: color .15s ease-in-out;
	&:hover {
		color: $color-C;
	}
}

small {
	vertical-align: middle;
	color: lighten(#000, 75%);
	font-weight: normal;
	font-size: 0.7em;
}

// inputs
input,
select, .ss-main *,
button {
	font-size: 1em;
	text-transform: uppercase;
}

input:not([type="checkbox"]),
select, .ss-main,
textarea:not(#output) {
	appearance: none;
	padding: 4px 8px;
	border: none;
	border-radius: 4px;
	box-shadow: $box-shadow;
	background-color: #fff;
	font-size: 1em;

	&::placeholder {
		color: rgba(#000, .5);
		text-transform: initial;
	}
	&[data-required]::placeholder { color: $color-B; }
}
input[disabled] { cursor: not-allowed !important; }

.select-container {
	position: relative;
	display: inline-block;

	&::before, &::after {
		pointer-events: none;
		content: '';
		position: absolute;
		right: 0; top: 50%;
		display: inline-block;
	}
	&::after {
		right: 15px;
		transform: translate(0, -50%) rotate(45deg);
		border-right: 2px solid #666;
		border-bottom: 2px solid #666;
		width: 6px; height: 6px;
	}
	&::before {
		transform: translate(0, -50%);
		border-radius: 0 4px 4px 0;
		background-color: #fff;
		width: 40px; height: 100%;
	}

	select { cursor: pointer; padding-right: 40px; }
}

.ss-main {
	color: #000;
	&:not(:first-child) { margin: 5px 0; }

	.ss-single-selected { border: none; }
}