@import '_common';

#i_ot, #i_ot-gender, #i_nsid, #i_pid,
#i_ign, #i_fc,
#i_gts-species, #i_gts-gender, #i_gts-message,
[id^="i_nature-"] { text-transform: initial !important; }

label[for^="i_nature-"] {
	padding-left: 10px;

	&[for="i_nature-inc"] { color: $color-B; }
	&[for="i_nature-dec"] { color: $color-C; }
}

.stat_spread {
	border-collapse: collapse;

	thead {
		text-align: center;

		[class^="color-"] {
			padding: 2px 0;
			color: #fff;
			font-weight: bold;
		}
		.color-H { border-top-left-radius: 6px; }
		.color-S { border-top-right-radius: 6px; }
	}
	td { text-align: center; }
	input:not([type="checkbox"]) {
		cursor: pointer;
		width: 4em;
		margin: 4px 4px 0;
		padding: 5px 0;
		border: none;
		border-bottom: 2px solid transparent;
		border-radius: 4px 4px 0 0;
		background-color: transparent;
		text-align: center;
		color: currentColor;

		&:hover {
			background-color: rgba(#fff, .3);
			border-bottom: 2px solid currentColor;
		}
		&:focus {
			background-color: #fff;
			border-bottom: 2px solid currentColor;
		}
	}

	.hyper-training {
		input { margin: 0; }

		.bg-color-H { border-bottom-left-radius: 6px; }
		.bg-color-S { border-bottom-right-radius: 6px; }
	}
	.ev_info {
		text-align: right;
		span {
			display: inline-block;
			width: 2em;
			&.over-limit { color: $color-B; }
		}
	}
}

.move_set {
	display: inline-block;
	vertical-align: middle;

	select {
		display: block;
	}
}