@charset "utf-8";

@import  '_common';

// styles
body {
	display: grid;
	grid-template-areas: 'header header' 'inputs output' 'inputs footer';
	grid-template-columns: auto 400px;
	grid-template-rows: 100px calc(100vh - 100px - 60px) 60px;
	width: 100vw; height: 100vh;
	overflow-x: hidden;
	@include responsive('mobile') {
		grid-template-areas: 'header' 'inputs' 'output' 'footer';
		grid-template-columns: auto;
		grid-template-rows: repeat(4, max-content);
	}

	header { grid-area: header; }
	main { grid-area: main; }
	footer { grid-area: footer; }
}

header {
	align-self: center;
	position: relative;
	padding: 0 20px;

	&::before {
		content: '';
		position: absolute;
		left: 50%; top: 50%; z-index: -1;
		transform: translate(-50%, -50%);
		display: inline-block;
		width: calc(100% + 20px); height: calc(100% + 20px);
		background:
			url('../img/pokemon-create-logo.png')
			center/contain no-repeat;
		opacity: 0.5;

		@include responsive('mobile') {
			position: static;
			transform: none;
			width: 100%; height: 75px;
		}
	}
}

.Inputs, .Output {
	h2 {
		position: sticky;
		top: 0; z-index: 1;
		padding: 10px 0;
		background: #fff;
	}
}

.Inputs {
	grid-area: inputs;
	counter-reset: groupNum;
	position: relative;
	padding: 0 0 20px;
	@include responsive('mobile') { padding-right: 5px; }
	overflow-x: hidden;
	overflow-y: scroll;

	h2 {
		padding-left: 20px;
		transition: box-shadow .2s ease-in-out;
		&.has-dropshadow {
			@include responsive('pc') {
				box-shadow: 0 2px 10px rgba(#000, .1);
			}
		}
	}

	.scrollable {
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
	
	.InputGroup {
		counter-increment: groupNum;
		margin-bottom: 40px;

		h3 {
			position: sticky;
			left: 0;
			margin-right: 20px;
			padding: 10px 20px;
			border-radius: 0 99px 99px 0;
			background: $background-color;
			@include responsive('mobile') { margin-right: 0; }
			
			&::before { content: counter(groupNum)'. '; }
			
			.pokeball {
				cursor: pointer;
				position: absolute;
				right: 5px; top: 50%;
				transform: translateY(-50%);
				display: inline-block;
				width: 30px; height: 30px;
				background:
					url('../img/pokeball-icon.png')
					center/contain no-repeat;

				&.hovered { animation: hovered .4s ease-in-out; }
				&.clicked { animation: clicked .6s ease-in-out; }
				@keyframes hovered {
					0%, 100% { transform: translateY(-50%) rotate(0deg); }
					25% { transform: translateY(-50%) rotate(45deg); }
					50% { transform: translateY(-50%) rotate(-30deg); }
					75% { transform: translateY(-50%) rotate(15deg); }
					
				}
				@keyframes clicked {
					from { transform: translateY(-50%) rotate(0deg); }
					to { transform: translateY(-50%) rotate(720deg); }
				}
			}
		}

		.InputGroup__Content {
			border-collapse: collapse;
			width: 650px;
			max-width: 100%;
			margin: 10px auto;
			padding: 20px;
			@include responsive('mobile') { padding: 20px 20px 20px 5px; }

			& > tbody > tr {
				border-radius: 8px;
				overflow: hidden;

				&:hover > th,
				&:hover > td { background-color: rgba($color-H, .1); }

				& > th { border-radius: 8px 0 0 8px;}
				& > td:last-child { border-radius: 0 8px 8px 0;}
				& > td[colspan="2"] { border-radius: 8px; }

				@include responsive('mobile') {
					// no bdrs lefts
				}
			}
			th, td { padding: 4px; }

			th {
				text-align: right;
				width: 200px;
				@include responsive('smp') { width: 120px; }
			}
			label {
				font-weight: bold;
			}

			select, .ss-main { max-width: 250px; }

			.ss-content.ss-open { box-shadow: $box-shadow; }
		}
	}

	#preview {
		position: fixed;
		left: 0; bottom: 0;
		transform: translateX(-100%);
		margin: 15px;
		padding: 15px;
		border-radius: 8px;
		box-shadow: $box-shadow;
		background: rgba(#fff, .95);
		transition: transform .6s ease-in-out;
		&.is-visible {
			transform: translateX(0);
		}

		#previewTrigger {
			cursor: pointer;
			position: absolute;
			left: 100%; top: 50%;
			transform: translateY(-50%);
			padding: 20px 8px;
			opacity: 0.2;

			&::before {
				content: '\f054';
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
			}
		}

		figure {
			position: relative;
			width: 120px; height: 120px;

			#p_ball, #p_item, #p_shiny {
				@include pixelize();
				pointer-events: none;
				position: absolute;
				width: 40px;
			}

			#p_species {
				@include pixelize();
				width: 100%; height: 100%;
				&.hovered { animation: jump .6s ease-in-out; }
				@keyframes jump {
					0%, 33%, 67%, 100% { transform: translateY(0); }
					17% { transform: translateY(-20px); }
					50% { transform: translateY(-10px); }
					83% { transform: translateY(-2px); }
				}
			}
			#p_ball {
				left: 0; bottom: 0;
			}
			#p_item {
				right: 0; bottom: 0;
			}
			#p_shiny {
				display: none;
				right: 0; top: 0;
				font-size: 20px;
				text-align: center;
				color: $color-B;
			}
			#p_dex {
				pointer-events: none;
				position: absolute;
				left: 50%; top: 0%;
				transform: translate(-50%, -75%);
				padding: 4px 10px;
				border-radius: 4px;
				box-shadow: 0 2px 10px rgba($color-B, .2);
				background: $color-B;
				color: #fff;
				font-weight: bold;
			}
		}
	}
}

.Output {
	grid-area: output;
	display: grid;
	grid-template-areas: 'output--header' 'warnings' 'output--textarea' 'output--footer';
	grid-template-rows: max-content max-content auto max-content;

	grid-area: output;
	min-height: 250px;
	margin: 0 0 10px 10px;
	padding: 0 20px 0;
	border-radius: 8px 0 0 8px;
	background-color: $background-color;
	@include responsive('mobile') {
		margin: 10px;
		border-radius: 8px;
	}

	.Output__header {
		grid-area: output--header;
		background: transparent;
	}

	#warnings {
		grid-area: warnings;
		display: none;
		list-style-type: none;
		width: 100%;
		max-height: 200px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		margin: 0 auto 10px;
		padding: 15px;
		border: 1px dashed $color-B;
		border-radius: 8px;
		background: rgba(red, .05);
		color: $color-B;

		li {
			position: relative;
			padding-left: 1.5em;
			&::before {
				content: '\f06a';
				font-family: "Font Awesome 5 Free";
				font-weight: 900;

				position: absolute;
				left: 0; top: 50%;
				transform: translateY(-50%);
			}

			& + li { margin-top: 5px; }
		}
	}

	#output {
		grid-area: output--textarea;
		resize: none;
		padding: 15px;
		border: 2px solid transparent;
		border-radius: 8px;
		background:
			#fff
			url('../img/pokeball_bg.png')
			160% 125%/75% no-repeat;
		@include responsive('mobile') {
			background-position: 75% -25%;
			background-size: 50%;
		}
		font-family: $monospace;
		transition: border-color .2s ease-in-out;
		-webkit-overflow-scrolling: touch;

		&:focus { border: 2px solid $color-B; }
		&::selection {
			background-color: $color-B;
			color: #fff;
		}
	}

	.Output__footer {
		grid-area: output--footer;
		text-align: center;

		#copyOutput {
			cursor: pointer;
			margin: 10px auto;
			padding: 4px 8px;
			border: none;
			border-radius: 4px;
			box-shadow: $box-shadow;
			background: $color-H;
			color: #fff;
			transition: box-shadow .1s ease-in-out;
			&:active {
				box-shadow: 0 1px 2px rgba($color-H, .1);
			}
		}
	}

	#copied {
		visibility: hidden;
		position: fixed;
		top: 0; right: 200px; z-index: 1;
		transform: translate(50%, -100%);
		@include responsive('mobile') { right: 50%; }
		padding: 10px 15px;
		box-shadow: none;
		border-radius: 0 0 8px 8px;
		background: $color-H;
		color: #fff;
		
		&.is-visible {
			visibility: visible;
			animation: slidedown 3s ease-in-out;
			@keyframes slidedown {
				0%, 100% {
					transform: translate(50%, -100%);
					box-shadow: none;
				}
				25%, 75% {
					transform: translate(50%, 0);
					box-shadow: 0 2px 10px rgba($color-H, .1);
				}
			}
		}
	}
}

footer {
	align-self: center;
	padding: 10px 20px;
	text-align: center;
	font-size: 0.8em;
}

@import 'specific-styles';